- const text = 'Gnet'

.stage
  .wrapper
    .slash
    .sides
      .side
      .side
      .side
      .side
    .text
      .text--backing=text
      .text--left
        .inner=text
      .text--right
        .inner=text